.information{
    position: absolute;
    top: -70px;
    background-color: var(--background-list);
    display: flex;
    align-items: center;
    width: 70%;
    border: 0.2px solid var(--text);
    height: 50px;
    gap: 1rem;
    padding: 2rem;
    justify-content:space-between;

    &__button{
        background-color: transparent;
        color:  rgb(156, 156, 156);
        border: transparent;
        padding: 1rem;
    }
    &__button--active{
        color: var(--white);
    }
    &__clear{
        background-color: transparent;
        color: var(--white);
        border: transparent;
        padding: 1rem;
    }
}